<!DOCTYPE html>
<html>
<head>
    <title>24-Entry Form</title>
</head>
<body>
    <form method="post">
        <h1>24-Entry Form</h1>
        
        <label for="1">Entry 1:</label>
        <input type="number" id="entry1" name="1" required><br>

        <label for="2">Entry 2:</label>
        <input type="number" id="entry2" name="2" required><br>

        <label for="3">Entry 3:</label>
        <input type="number" id="entry3" name="3" required><br>

        <label for="4">Entry 4:</label>
        <input type="number" id="entry4" name="4" required><br>

        <label for="5">Entry 5:</label>
        <input type="number" id="entry5" name="5" required><br>

        <label for="6">Entry 6:</label>
        <input type="number" id="entry6" name="6" required><br>

        <label for="7">Entry 7:</label>
        <input type="number" id="entry7" name="7" required><br>

        <label for="8">Entry 8:</label>
        <input type="number" id="entry8" name="8" required><br>

        <label for="">Entry 9:</label>
        <input type="number" id="entry9" name="9" required><br>

        <label for="10">Entry 10:</label>
        <input type="number" id="entry10" name="10" required><br>

        <label for="11">Entry 11:</label>
        <input type="number" id="entry11" name="11" required><br>

        <label for="12">Entry 12:</label>
        <input type="number" id="entry12" name="12" required><br>

        <label for="13">Entry 13:</label>
        <input type="number" id="entry13" name="13" required><br>

        <label for="14">Entry 14:</label>
        <input type="number" id="entry14" name="14" required><br>

        <label for="15">Entry 15:</label>
        <input type="number" id="entry15" name="15" required><br>

        <label for="16">Entry 16:</label>
        <input type="number" id="entry16" name="16" required><br>

        <label for="17">Entry 17:</label>
        <input type="number" id="entry17" name="17" required><br>

        <label for="18">Entry 18:</label>
        <input type="number" id="entry18" name="18" required><br>

        <label for="19">Entry 19:</label>
        <input type="number" id="entry19" name="19" required><br>

        <label for="20">Entry 20:</label>
        <input type="number" id="entry20" name="20" required><br>

        <label for="21">Entry 21:</label>
        <input type="number" id="entry21" name="21" required><br>

        <label for="22">Entry 22:</label>
        <input type="number" id="entry22" name="22" required><br>

        <label for="23">Entry 23:</label>
        <input type="number" id="entry23" name="23" required><br>
        
        <label for="24">Entry 24:</label>
        <input type="number" id="entry24" name="24" required><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
